<div class="min-height">
	<div class="card card-body bg-light">
		<h1>Hello,</h1>
		<h2>You have to be authenticated before using this page.</h2>
		<p>Please login  here: <%= link_to "login", new_user_session_path %>.</p>
	</div>
</div>