@import "bootstrap/scss/bootstrap";
@import "font-awesome";


 
 
 .forth {
   box-shadow: inset 0 0 20px rgba(191, 191, 191, 0.2), 0 0 30px black;
   /*height: 100px;*/
   width: 200px;
   background: rgba(191, 191, 191, 0.3);
   border-radius: 10px;
   box-shadow: inset 0 0 10px rgba(191, 191, 191, 0.8), 0 0 10px rgba(191, 191, 191, 0.8);
   padding: 0 0 20px 20px;
   /*display: inline-block;*/
   /*margin: 15px;*/
   /*vertical-align: top;*/
   /*text-align: center;*/
 }

.product-image img{
   max-width: 500px;
   border: 4px solid grey;
}
.navbar-nav li a{
    /*border: 3px solid blue;*/
    margin-left: 20px;
}
.nav-user-name{
  color: #fff;
}
.form-card{
  width: 50%;
  margin: 0 auto;
}
.form-card input{
  width: 100%;
}
.form-card textarea{
  width: 100%;
  height: 80px;
}
.supplier{
  margin-top: 20px;

}
.supplier_number{
  border: 1px solid #000;
  min-height: 20px;
  margin-top: 10px; 
  font-size: 1.2em;  
  background-color: #d6d6d6;
  padding: 5px 20px;
  width:fit-content;   
  display: flex;
  align-items: center;    
}
.description{
  margin-top: 20px;
}

.index-icons {
  font-size: 1.2em;
}
.index-icons:hover {
  text-decoration: none;
  color: #ff0000;
}
.new_product{
  float: right;
}

@media only screen and (max-width: 500px) {
  /***************    Use input number mobile friendly ***********/
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  /***************    Use input number mobile friendly ***********/
}




