@import "bootstrap/scss/bootstrap";
// @import "font-awesome";
@import "form-style-5.sccs";
@import "bourbon";


 
 
 .forth {
   box-shadow: inset 0 0 20px rgba(191, 191, 191, 0.2), 0 0 30px black;
   /*height: 100px;*/
   width: 200px;
   background: rgba(191, 191, 191, 0.3);
   border-radius: 10px;
   box-shadow: inset 0 0 10px rgba(191, 191, 191, 0.8), 0 0 10px rgba(191, 191, 191, 0.8);
   padding: 0 0 20px 20px;
   /*display: inline-block;*/
   /*margin: 15px;*/
   /*vertical-align: top;*/
   /*text-align: center;*/
 }

.product-image img{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid grey;
  -webkit-box-shadow: 5px 15px 16px -1px rgba(0,0,0,0.73); 
  box-shadow: 5px 15px 16px -1px rgba(0,0,0,0.73);
}
.navbar-nav li a{
    /*border: 3px solid blue;*/
    margin-left: 20px;
}
.nav-user-name{
  color: #fff;
  margin-top: 5px;
  font-size: 1.2em;
}

.form-card{
  width: 50%;
  margin: 0 auto;
}
.form-card input{
  width: 100%;
}
.form-card textarea{
  width: 100%;
  height: 80px;
}
.prod-details{
  margin: 10px 0;

}
.prod-details span{
  font-size:20px;
  margin-left: 20px;
  float: right;
  font-style: italic;
  word-break: break-all;
  max-width: 67%;
}

.supplier_number{
  border: 1px solid #000;
  min-height: 20px;
  margin-top: 10px; 
  font-size: 1.2em;  
  background-color: #d6d6d6;
  padding: 5px 20px;
  width:fit-content;   
  display: flex;
  align-items: center;    
}
.description{
  margin-top: 20px;
}

.index-icons {
  font-size: 1.2em;
}
.index-icons:hover {
  text-decoration: none;
  color: #ff0000;
}
.new_product{
  float: right;
  margin: -35px 0px ;
}
.show-buttons{
  margin: 20px 0;
}

.sort-table a{
  color: grey;
}
.table-responsive {
  overflow-x: auto;
}
table {
  // display: block;
  margin: 0 auto;
 }
table th{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  border: 1px #000 solid;
  background-color: #fff;
}
table td { 
  border: 1px #000 solid;
 }

.sort-table th .current {
  padding: 2px 18px 0 0 ;

  background-repeat: no-repeat;
  background-position: right center;
}

.sort-table th .asc{
  background-image: url('https://s3.us-east-2.amazonaws.com/parts-room/up-arrow.jpeg');
  background-size: 12px 12px !important;
}

.sort-table th .desc{
  background-image: url('https://s3.us-east-2.amazonaws.com/parts-room/down-arrow.jpeg');
  background-size: 12px 12px !important;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Switch button*/

.user-front-page {
  max-height: 10px;
  margin-top: -240px;
  background-color: red;
}
.user-front-page h2 {
  margin-top: 100px;
}
.switch {
  margin-top: 5px;
}
.min-height{
  min-height: 500px;
  // border: 1px solid red;
  width:100%;
}
.new_product{
  margin: 10px 0px;
}
.inventory{
  color: #c90000;
}
.no-image{
  width: 200px;
  height:200px;
  text-align: center;
  padding-top: 90px;
  border: 1px solid grey;
  -webkit-box-shadow: 5px 15px 16px -1px rgba(0,0,0,0.73); 
  box-shadow: 5px 15px 16px -1px rgba(0,0,0,0.73);
}
.no_image_table_color{
  background-color: #b9b3fc !important;
}
.obsolete{
  background-color: #ffa791 !important;
}
.hide-check-box{
  visibility: hidden !important;
  background-color: #ffa791 !important;
}
.top-mobile-screen{
  margin-top: -40px;
}
#search{
  margin-top: 5px;
}

.pagination {
  display:inline-block;
  form {
    display: inline-block;
    margin:0;
    
    select {
      width:70px;
      height: 30px;
      color: #007BFF;
    }
  }

}
.go-to-page{
  display: table-cell;
  vertical-align: middle; 
  color: #007BFF;
}
.select-page{
  display: table-cell;
  vertical-align: middle;
  color: #007BFF;
}



/*/////////////////////////////////////////////
///////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 500px) {
  /***************    Use input number mobile friendly ***********/
  
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .hide-content{
    display: none;
  }
  .product-image {
    margin-top: 20px;
  }
  .custom-class { 
    width: 100%; 
    display:block;
    margin-top: 15px; 
  }
  .btn-block{
    margin-top: 15px;
  }
  .back-buttons{
    font-size: 1.6em;
    margin-top: 20px;
  }
  .back-buttons a{
    margin: 10px;
  }
  .nav-buttons{
    float: right;
    margin: 10px 0px;
  }
  .nav-user-name{
    text-align: center;
  }
  .navbar-collapse{
    border-top: 1px solid #7c7b7b;
    margin-top: 5px;
  }
  .min-height{
    padding: 10px;
    width: 100%;
    // border: 1px solid red;
  }
  .container-fluid{
    padding: 0px !important;
  }
  table {
  // display: block;
  margin: 0 auto;
  font-size: 0.77em;
 }
  .btn-custom-class { 
    width: 100%; 
    display:block;
  }
  .custom-login{
    // width: 100%; 
    // display:block;
    margin: 20px 0px; 
    // border: 5px solid red;
  }
  #search{
    width: 100%;
  }
  .form-card{
    width: 100%;
  }
  .top-mobile-screen{
    margin-top: -40px;
  }
  td{
   max-width: 100px; 
   word-wrap:break-word;
  }
  .paginate{
    font-size: 0.7em;
    color: red;
  }




  /***************    Use input number mobile friendly ***********/
}
/***************    Iphone 6/7/8 plus  ***********/
@media only screen and (min-width: 400px) and (max-width: 499px) {
  table {
  // display: block;
  margin: 0 auto;
  font-size: 1.15em;

 }
 td{
  max-width: 140px; 
  word-wrap:break-word;
 }
}
/***************    Iphone 6/7/8   ***********/
@media only screen and (min-width: 364px) and (max-width: 399px) {
  table {
  // display: block;
  margin: 0 auto;
  font-size: 0.9em;

 }
 td{
  max-width: 110px; 
  word-wrap:break-word;
 }
 
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px) {
  

  .product-image img{
    margin-bottom: 20px;
  }
  .product-image {
    margin-top: 20px;
  }
  .btn-custom-class { 
    width: 100%; 
    display:block;
    margin-top: 15px; 
  }
  
  .back-buttons{
    font-size: 1.2em;
    margin-top: 20px;
  }
  .nav-buttons{
    float: right;
    margin: 10px 0px;
  }
  .nav-user-name{
    text-align: center;
  }
  .navbar-collapse{
    border-top: 1px solid #7c7b7b;
    margin-top: 5px;
  }
  .custom-class { 
    width: 100%; display:block; 
  }
  .form-card{
    width: 100%;
  }
  .btn-block{
    margin-bottom: 15px;
  }
  .top-mobile-screen{
    margin-top: -30px;
  }
  table{
    font-size: 0.85em;
  }
  .paginate{
    font-size: 0.8em;
  }
  

}
/*////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 768px) and (max-width: 990px) {

  .min-height{
    padding: 0px;
    width: 100%;
    overflow-x: auto;
  }
  .hide-medium{
    display: none;
  }
  .btn-custom-class { 
    width: 50%; 
    margin-top: -5px;
  }
  .new_product{
    margin-top: -20px;
  }

}
