<div class="min-height">
	<h1 class="top-mobile-screen">Editing Product</h1>

	<%= render 'form', product: @product %>
	<br><br>
	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %> |
	<%= link_to 'Products', products_path %>
</div>